
<div class="container home-picture">
	<h1 id="white-font">Welcome to YouNote!</h1>
	<p class="center">Search for videos on Youtube and take notes while watching. Save them so you can come back to them later. </p>
	<span><%= link_to 'Sign Up Now!', '/signup' %> </span>
</div>

<div class="container">
	<%= button_to "Search For Videos", {controller: "content_items", action: "search"},  {id: "search-button"} %>
</div>

<div id="my-notes">
  <%= render 'home_notes', object: @home_notes %>
</div>

<div id="infinite-scrolling">
  <%= will_paginate @home_notes %>
</div>

<div id="ajax-gif"></div>

