
<div class="container home-picture">
	<h1 id="white-font">Welcome to YouNote!</h1>
	<p class="center">Search for videos on Youtube and take notes while watching. Save them so you can come back to them later. </p>
</div>

<div class="container">
	<div class="well">
		<%= link_to "Search For Videos", controller: "content_items", action: "search" %>
	</div>
</div>
