
<div class="container show-container">
	<h1><%= @video.title %></h1>
	<div class="show-video-container container-fluid">
		<%= @video.embed_html.html_safe %>
	</div>
	<div class="description container-fluid">
		<%= @video.description %>
	</div>
	<button type="button" class="btn btn-default btn-block">Create Note</button>
</div>

