

$custom-blue: #2bb0ff;






// *************************************************** show page 
.show-container{
	h1{
		margin-top: 50px;
	}
	.show-video-container{
		iframe{
			width:640;
			height:360;
		}	
		margin-top: 50px;
		margin-left: 21%;
	}
	.description{
		margin-top: 10px;
		padding:20px;
		background-color: #f5f5f5;
    	border: 1px solid #ccc;
    	font-size: 1.2em;
	}
	button{
		margin-top: 10px;
		background-color: $custom-blue;
		color:white;
		&:hover{
			background-color:rgba(43,176,255,0.9);
			color:white;
		}
	}
}



// ************************************************* search page

.search-partial{
	margin-top:100px;
}


.search-video-container{

	.row{
		margin-top: 50px;
	}
	.thumbnail-item{
		
		display:inline-block;

	}
	img{
		display: block;
	    margin-left: auto;
	    margin-right: auto;
	}
	img:hover{
		opacity: 0.7;
	}
	a{
		color: $custom-blue;
	}

}

.pagination{
		float:right;
		a{
			font-size: 1.4em;
			color:$custom-blue;
			
		}
		em{
			font-size: 1.4em;
		}
		.previous_page{
			margin-right:10px;
		}
		.next_page{
			margin-left: 10px;
		}
		>*{
			margin-right: 3px;
		}

	}