$custom-blue: #2bb0ff;
$custom-gray: #f5f5f5;



// **************** show page *********************************
.note-container{
	margin:0;
	padding:0;
	width:100%;
	h1{
		margin-top: 50px;
	}
	.show-video-container{
		iframe{
			width:640;
			height:360;
		}	
		// margin-top: 50px;
		margin-left: -15px;
	}
	.description{
		margin-top: 10px;
		margin-bottom: 10px;
		padding:20px;
		background-color: $custom-gray;
    	border: 1px solid #ccc;
    	font-size: 1.2em;

	}

	#note_content{
		margin-left: 15px;
		font-size: 14px;
		resize: none;
		overflow-y: scroll;
	}

	.uneditable-note{
		margin-top: 10px;
		padding: 10px;
		// background-color: $custom-gray;
		border: 1px solid #ccc;
		font-size: 1.2em;

	}
	
	.edit-options{


		#font-size{
			// width:25%;
			float:left;

		}
		.edit-options-label{
			display: block;
			font-weight: bold;
		}


	}
	
	.container{
		padding:0;
	}
	
	
}
