$custom-blue: #2bb0ff;
$custom-gray: #f5f5f5;
$custom-red:#d75757;



// **************** show page *********************************
.note-container{
	margin:0;
	padding:0;
	width:100%;
	h1{
		margin-top: 50px;
	}

	#note-info{
		padding:10px;
		position:relative;
		width:100%;
		// margin-top: 50px;
		#author{
			color:$custom-blue;
			font-weight:bold;
			position:absolute;
			display: inline-block;
			left:0;
			a{
				color:$custom-blue;
				&:hover{
					text-decoration: none;
				}
			}
		}
		#views{
			color:$custom-blue;
			font-weight:bold;
			position:absolute;
			display: inline-block;
			right:0;
		}
	}
	.show-video-container{
		clear:both;
		iframe{
			width:640;
			height:360;
		}	
		// margin-top: 50px;
		margin-left: -15px;
	}
	.description{
		margin-top: 10px;
		margin-bottom: 10px;
		padding:20px;
		background-color: $custom-gray;
    	border: 1px solid #ccc;
    	font-size: 1.2em;

	}

	#note-content{
		height: 380px;
		margin-left: 15px;
		padding:10px;
		border: 1px solid #ccc;
		font-size: 14px;
		resize: none;
		overflow-y: scroll;
	}



	.uneditable-note{
		margin-left: 15px;
		padding: 10px;
		height: 400px;
		// background-color: $custom-gray;
		border: 1px solid #ccc;
		font-size: 1.2em;
		resize: none;
		overflow-y: scroll;

	}
	
	.edit-options{
		padding:10px;

		#font-size{
			margin-top: 5px;
			width:80%;
			height:25px;
			float:right;

		}
		.edit-options-label{
			display: inline-block;
			font-weight: bold;
		}

		#embolden{
			// height:25px;
		}
		#underline{
			// padding:0;
			span{
				font-family: 'Trebuchet MS';			}
		}
		#create-table{
			display:inline-block;
		}
		#table-rows, #table-columns{
			display:inline-block;
			width:25%;
		}


	}


	#hide-note-settings{
		margin-top:15px;
	}

	.note-settings{
		margin-top: 10px;
		border-top: 1px solid gray;
		border-bottom: 1px solid gray;
		height:100px;
		background-color:$custom-gray;
		text-align: center;
		span{
			line-height: 50px;
			// display: block;
			input[type=checkbox]{
				width:10px;
			}
		}
		#delete-note-button{
			background-color: $custom-red;
			font-weight: bold;

		}
	}
	
	.container{
		padding:0;
	}
	
	
}


// ************************************** index page


span.badge{
	margin-left:10px;
}










