

.home-picture{
	height:660px;
	background-image: image-url('videonote2.jpg');
	padding-top:50px;

	
	h1{
		background: rgb(0, 0, 0); 
   	  	 background: rgba(0, 0, 0, 0.5);
		z-index:100;
		font-size: 4em;
		color:white;
		
	}

	p{
		 background: rgb(0, 0, 0); 
   	  	 background: rgba(0, 0, 0, 0.5);
		margin-top: 25%;
		font-size: 1.3em;
		color:white;
		bottom:0;
	}

}

.well{
	margin-top:50px;
	background-color:#d75757;
	a{
		color:white;
		margin-left: 38%;
		font-size: 1.8em;
	}
}