$custom-blue: #2bb0ff;
$gray-medium-light: #eaeaea;

.home-picture{
	height:660px;
	background-image: image-url('videonote2.jpg');
	padding-top:50px;
	text-align:center;
	
	h1{
		background: rgb(0, 0, 0); 
   	  	background: rgba(0, 0, 0, 0.5);
		z-index:100;
		font-size: 4em;
		color:white;	
	}

	p{
		background: rgb(0, 0, 0); 
		background: rgba(0, 0, 0, 0.5);
		margin-top: 25%;
		font-size: 1.3em;
		color:white;
		bottom:0;
	}

	span{
		 background: rgb(0, 0, 0); 
   	  	 background: rgba(0, 0, 0, 0.5);
   	  	 font-size: 1.3em;
   	  	 padding:3px;
   	  	 a{
   	  	 	color:white;
   	  	 }
	}
}

#search-button{
	margin-top: 50px;
	background-color: #d75757;
	height: 70px;
	color: white;
	font-size: 1.8em;	
	margin-bottom: 150px;
}



#my-notes{
	.row:nth-child(even){
		background-color: $gray-medium-light;
	}

	.home-note{
	height:305px;
	img{
		bottom:0;
		display: block;
	    margin-left: auto;
	    margin-right: auto;
	}
	img:hover{
		opacity: 0.7;
	}

	h2{
		color:black;
		bottom:0;
		margin-bottom:15px;
		a{
			color:black;
			text-decoration: none; 
		}
	}
}

.home-note:nth-child(3n+2){
	border-left:2px solid $custom-blue;
	border-right:2px solid $custom-blue;
}

}


#ajax-gif{
	margin-top:25px;
	margin-left: 47%;
}

