$custom-blue: #2bb0ff;


// *********************************** sign up 

form.new_user{ 
	.btn-primary{
		background-color:$custom-blue;
		margin-top:10px;
		.btn-primer:hover{
			background-color:rgba(43,176,255,0.9)
		}
	}
}


//*********************************** show

.user_info {
    margin-top: 30px;

	.profile-picture{
		padding:0;
		margin-left: 0;
		width: 150px;
		height:150px;
		border: 1px solid black;
		display: inline-block;
		img{
			height:100%;
			width:100%;
		}
	}
	h1{
		font-size: 3em;
	}

	.top_notes{
		margin-top: 16%;

		span{
			font-weight: bold;
		}
		span.right{
			float:right;
		}
		span.left{
			float:left;
		}
		.panel-heading{
			background-color: $custom-blue;
			overflow: hidden;
		}
	}
  }


  //************************************ index

	.user_list{
		margin-top: 20px;


	}







