$custom-blue: #2bb0ff;


// *********************************** sign up 

form.new_user{ 
	.btn-primary{
		background-color:$custom-blue;
		margin-top:10px;
		.btn-primer:hover{
			background-color:rgba(43,176,255,0.9)
		}
	}
}

